<main class="main">
    <div class="container">
        <br />
        <h1 class="text-3xl font-bold underline mb-5">
            Webpack 5, Posthtml-include Sass, JavaScript, React
        </h1>
        <div class="grid">
            <div class="grid__item">
                <div class="img">
                    <img src="./images/5.jpg" alt="Изображение" />
                </div>
                <a class="text-blue-600 block my-2" href="./article.html"
                    >Перейти на страницу Article</a
                >
                <button class="js-btn btn my-2">Добавить класс на body на JS</button>
                <button class="btn modal-1-trigger" type="button">modal</button>
            </div>
            <div class="grid__item">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda officia rem nulla
                esse, quod numquam, quasi dolor, porro error harum blanditiis. Repellendus cumque
                unde dolor accusamus officia velit temporibus voluptatum.
            </div>
            <button data-fancybox data-src="#dialog-content">Launch Dialog</button>

            <div id="dialog-content" style="display: none; max-width: 500px">
                <h2>Hello, world!</h2>
                <p>
                    <input type="text" value="" />
                </p>
                <p>
                    Try hitting the tab key and notice how the focus stays within the dialog itself.
                </p>
                <p>
                    To close dialog hit the esc button, click on the overlay or just click the close
                    button.
                </p>
                <p>Element used to launch the modal would receive focus back after closing.</p>
            </div>
        </div>
        <br />
        <div id="root"></div>
        background-image
        <div class="sss" style="background-image: url('./images/5.jpg')"></div>
    </div>
</main>
