<main class="main">
  <div class="container">
    <br />
    <h1>Webpack 5, Posthtml-include Sass, JavaScript, React</h1>
    <div class="grid">
      <div class="grid__item">
        <div class="img">
          <img src="./images/5.jpg" alt="Изображение" />
        </div>
        <a href="/article.html">Перейти на страницу Article</a>
        <br />
        <br />
        <button class="js-btn btn">Добавить класс на body на JS</button>
      </div>
      <div class="grid__item">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda officia rem nulla esse, quod numquam, quasi
        dolor, porro error harum blanditiis. Repellendus cumque unde dolor accusamus officia velit temporibus
        voluptatum.
      </div>
    </div>
  </div>
  <br />
  <div id="root"></div>
</main>
