<div class="modal modal-1">
    <div class="modal__wrap">
        <div class="modal__window">
            <div class="modal__content">
                <span>Заказать звонок</span>
                <p>Оставьте свои контактные данные, с вами свяжутся в течении 40 минут</p>
            </div>
            <button class="modal__close" aria-label="Закрыть модальное окно" type="button">
                <img src="./images/close.svg" alt="Закрыть" />
            </button>
        </div>
    </div>
</div>
